header{
	background-color: #0020F4;
	height: 388px;
}
.logo{
	display: inline-block;
	margin: 20px 0 0 240px;
	vertical-align: middle;
}
nav{
	display: inline-block;
	margin-left: 300px;
}
li{
	display: inline-block;
	vertical-align:middle;
	margin-top: 30px;
}
.list-distance{
	margin-right: 40px;
}
.list-distance a{
	color: white;
	font-size: 16px;
}
.contact-list{
    border-radius: 28px;
    padding: 20px 40px;
    background-color: white;
}
.contact-list a{
	color: #171717;
}
.container{
	width: 1195px;
	margin: 0 auto;
}
.title{
	color: #171717;
	font-size: 28px;
	margin-top: 30px;
}
.sub-image{
	margin-top: 60px;
	margin-right: 21px;
}
.last-sub-image{
	margin-top: 60px;
}
.paragraph-container{
	width: 950px;
	margin: 60px auto;
}
.between-paragraph{
	margin-bottom: 18px;
}
.last-paragraph{
	margin-bottom: 76px;
}
.more-information{
	width: 207px;
	margin: 0 auto 198px;
	padding: 18px 78px;
	background-color: #0A22F4;
	border-radius: 28px;
}
.more-information a{
	color: #FFFFFF;
}
footer{
	background-color: #0A22F4;
}
.footer-container{
	border: 1px solid blue
}
.map{
	margin: 275px 0 92px 240px;
	width: 470px;
}
.map h2{
	color:#FFFFFF ;
	font-size: 32px;
	margin-bottom: 30px;
}
.map p{
	color: #FFFFFF;
	margin-bottom: 58px;
}
.map iframe{
	border-radius: 15px;
}
.contact{
	margin: 0 0 210px 240px;
}
.contact .number{
	padding: 26px;
	margin-right: 20px;
	border-radius: 50px;
	vertical-align: middle;
	background-color: white;
}
.number-section span{
	color: #FFFFFF;
	font-size: 22px;
	vertical-align: middle;
}
.contact .mail{
	padding: 26px;
	margin: 0 20px 0 120px ;
	border-radius: 50px;
	vertical-align: middle;
	background-color: white;
}
.mail-section span{
	color: #FFFFFF;
	font-size: 22px;
	vertical-align: middle;
}